<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to Project MGMT
			</h1>
			<h2 class="subtitle">
				A small project management app built with Ruby on Rails and Vue.js
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Why is Project MGMT so awesome?</h3>
					<p>Welcome! This application showcases Ruby on Rails and how it can work together with Vue.js</p>

					<p>This is a similar application concept to <a href="https://basecamp.com/">Basecamp</a>. Users can sign up and create teams by inviting other users to sign up with just a name and email address.</p>
					<p>Invited users should receive an email and be directed to a page where they create a password. From there, team members can create, update, and destroy individual projects.</p>
					<p>Big shoutout to the owners of <a href="https://gorails.com/">GoRails.com</a> and <a href="https://web-crunch.com/">Web-Crunch</a> for showing me how to integrate Vue with the Rails backend.</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Sign Up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>
